body {
    background-color: #19191a;
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  h1 {
    position: relative;
    text-align: center;
    top: 200px;
    font-size: 2em;
    color: rgb(10, 182, 250);
    text-transform: uppercase;
  }
  
  span {
    border-right: .05em solid;
    color: rgb(8, 209, 8);
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color:rgb(241, 9, 241);
    }
  }